.cards { 
    @include flex(column,center,center,15px);
    width: 100%;
    padding: 20px;
    &__body {
        display: flex;
        flex-direction: row;
        padding: 10px;
        margin: 3px;
        border-radius: 10px;
    
        &:nth-child(even) {
            flex-direction: row-reverse;
            background-color: $second-color;
        }
    
        img {
            height: 150px;
            width: 150px;
            object-fit: cover;
            border-radius: 10px;
            &:hover{
                transition: 1s;
                transform: rotate(-10deg);
            }
        }
    }
    &__texto {
        align-items: center;
        h2 {
            font-size: 25px;
            margin: 0px 20px 10px 10px;
            font-family: $font;
            text-align: left;
        }
        p {
            font-size: 17px;
        }
    }
}

