.texto1 {
    ul {
        border-top: solid 2px $four-color;
        border-left: solid 2px $four-color;
        padding: 10px 0px 10px 50px;
        border-radius: 20px;
        border-bottom: solid 2px $four-color;
        margin: 15px 15px 15px 10px;
    }
    .recetas {
        font-size: 25px;
        margin: 0px 20px 10px 10px;
        padding: 5px 0px 5px 20px;
        font-family: "roboto";
        text-align: left;
        border-bottom: solid 2px $third-color;
        border-left: solid 2px $third-color;
        width: 40%;
        border-radius: 0px 0px 5px 10px;
    }
}

